name: Build app
on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        description: Miljø versjon som skal brukes til bygg.
        default: "ubuntu-latest"
      push-image:
        required: false
        type: boolean
        description: Skal docker image pushes?
        default: false
      branch:
        required: false
        type: string
        description: Alternativ branch å bygge fra
      bake-platform:
        type: string
        required: false
        description: Platform to target
        default: "linux/amd64,linux/arm64"
      bake-target:
        type: string
        required: true
        description: Bake target
    outputs:
      build-version:
        description: "Build version"
        value: ${{ jobs.build-and-test.outputs.build-version }}
jobs:
  build-and-test:
    name: Build and test ${{ inputs.bake-target }}
    permissions:
      packages: write
      id-token: write
    runs-on: ${{ (github.actor == 'dependabot[bot]' && 'ubuntu-latest') || inputs.runs-on }}
    env:
      TZ: "Europe/Oslo"
    outputs:
      build-version: ${{ steps.generate-build-version.outputs.build-version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # ratchet:actions/checkout@v4
        with:
          ref: ${{ (inputs.branch != '' && inputs.branch) || '' }}
          fetch-depth: 0
      - name: Generate build version
        id: generate-build-version
        run: |
          if [[ '${{ inputs.branch }}' != '' ]]; then
            echo "build-version=$(date +%Y.%m.%d.%H%M%S)-$(git log -1 '--format=format:%H' | cut -c1-7)-branch" >> $GITHUB_OUTPUT
          else
            echo "build-version=$(date +%Y.%m.%d.%H%M%S)-$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_OUTPUT
          fi

      - name: Print build version
        run: echo "Generated build-version is ${{ steps.generate-build-version.outputs.build-version }}"
      - name: Bygg og push docker image
        uses: navikt/fp-gha-workflows/.github/actions/build-push-docker-bake@main # ratchet:exclude
        with:
          build-version: ${{ steps.generate-build-version.outputs.build-version }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          push-image: ${{ inputs.push-image }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          bake-platform: ${{ inputs.bake-platform }}
          bake-target: ${{ inputs.bake-target }}
