name: Deploy

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
        description: "Image navn"
      cluster:
        required: true
        type: string
        description: "The cluster to deploy to."
      namespace:
        required: false
        type: string
        description: "The namespace to deploy to."
        default: "teamforeldrepenger"
      app:
        required: true
        type: string
        description: "The app to deploy."

env:
  IMAGE: ${{ inputs.image }} # Brukes i naiserator.yaml

jobs:
  deploy:
    name: deploy
    environment: ${{ inputs.cluster }}:${{ inputs.app }}
    runs-on: "ubuntu-latest"
    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@v1
      - uses: actions/checkout@v3.3.0
      - name: Deploy ${{ inputs.cluster }}
        uses: nais/deploy/actions/deploy@v1
        env:
          PRINT_PAYLOAD: true
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: ${{ inputs.cluster }}
          RESOURCE: .deploy/naiserator.yaml
          VARS: .deploy/${{ inputs.app }}/${{ inputs.cluster }}-${{ inputs.app }}.json
